@media only screen and (max-width: 740px){
    #nav{
        display: block;
    }

    #nav >li {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    .column{
        width: 50%;
        float: left;
        padding-right: 5px ;
        padding-left: 5px;
        text-align: center;
        margin-bottom: -50px;
    }
    .FlexBlock{
        display: block;
    }
    .Thumb{
        width: 130px;
        height: 160px;
    }
    /* heading*/
    .SearchBarBorder{
        display: none;
    }
    .LogoText{
        float: right;
        margin-left: -60px;
        padding-top: 5px;
        font-size: 14px;
    }
    .icon-search{
        display: block;
    }
    #header{
        overflow: hidden;
    }
}
@media only screen and (min-width: 740px) and ( max-width: 1240px){
    #nav{
        display: block;
    }

    #nav >li {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    .column{
        width: 33.33333%;
        float: left;
        padding-left: 10px;
        padding-right:10px ;
        text-align: center;
    }
    .FlexBlock{
        display: block;
    }
    .SearchBarBlock {
        width: 200px;
    }
    .SearchBarBorder {
        width: 250px;
    }
    .SearchBar {
        width: 200px;
    }
    .SearchBarBorderPadding {
        margin-left: 5%;
    }
    .LogoText{
        margin-left: 5%;
    }
    .ti-home:before{
        
    }
    .icon-search{
        display: block;
        margin-right: 7%;
    }
    #header{
        overflow: hidden;
    }
}
@media only screen and (min-width: 1240px){
    .mobile-icon{
        display: none;
    }
}